.button-background {
    background-image: url("button-default.png");
    border-image: none;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    border: 0;
    min-width: 110px;
    min-height: 41px;
    box-shadow: none;
}

#myButton_green.button-background {
    color: green;
}

#myButton_green.button-background:hover {
    background-image: url("button-bright-green.png");
}

#myButton_red.button-background {
    color: red;
}

#myButton_red.button-background:hover {
    background-image: url("button-bright-red.png");
}

.blue-text:focus {
    color: green;
}

.blue-text:hover {
    color: orange;
}

.blue-text {
    color: #197cc3;
}

.main-grid {
    margin-left: 140px;
    margin-bottom: 50px;
    margin-top: 80px;
    margin-right:120px;
}